POSTGRES_DB=casaura
POSTGRES_USER=casaura
POSTGRES_PASSWORD=casaura_local_only
POSTGRES_PORT=5432
REDIS_PORT=6379
OPENSEARCH_PORT=9200
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=casaura
MINIO_ROOT_PASSWORD=casaura_local_only
LISTING_MEDIA_DISK=local
SEARCH_DRIVER=database
OPENSEARCH_URL=http://opensearch:9200
OPENSEARCH_INDEX=casaura-listings-v1
SEARCH_MAX_RADIUS_KM=200
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
